In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Day 11: Dumbo Octopus

In [210]:
df_input = pd.read_excel('20211211_aoc_input.xlsx',header=None,sheet_name='Tabelle1',dtype=str)

In [211]:
df_input = df_input[0].str.split(expand=True,pat='').drop([0,11],axis=1)
df_input.columns = range(10)
df_input = df_input.astype(int)

In [212]:
df_input

   0  1  2  3  4  5  6  7  8  9
0  6  6  1  7  1  1  3  5  8  4
1  6  5  4  4  2  1  8  6  3  8
2  5  4  5  7  3  3  1  4  8  8
3  1  1  3  5  6  7  5  5  8  7
4  1  2  2  1  3  5  3  2  1  6
5  1  8  1  1  1  2  4  3  7  8
6  1  3  8  7  8  6  4  3  6  8
7  4  4  2  7  6  3  7  2  6  2
8  6  7  7  8  6  4  5  4  8  6
9  3  6  8  2  1  4  6  7  4  5

In [213]:
def increase(x):
    x += 1
    return x

In [214]:
def set_zero(x):
    if x >= 999:
        x = 0
    return x

In [215]:
for el in ls_flash:
    ls_adj = get_adjacent(el)
    for xy in get_adjacent(el):
        df.loc[xy] += 1

    df.loc[el] = 999

In [216]:
def get_adjacent(el):
    a = el[0]
    b = el[1]
    ls_adj = [(x,y) for x in range(a-1,a+2) for y in range(b-1,b+2) if x in range(0,10) if y in range(0,10)]
    ls_adj.remove(el)
    
    return ls_adj

In [221]:
df = df_input.copy()
result = 0
step = 0
result_step = 0

while result_step != df.shape[0]*df.shape[1]:
    step += 1
    df = df.applymap(increase)

    lst1 = [(x, df.columns[y]) for x, y in zip(*np.where(df.values > 9))]
    lst2 = [(x, df.columns[y]) for x, y in zip(*np.where(df.values < 999))]
    ls_flash = [value for value in lst1 if value in lst2]

    while ls_flash:

        for el in ls_flash:
            ls_adj = get_adjacent(el)
            for xy in get_adjacent(el):
                df.loc[xy] += 1

            df.loc[el] = 999

        lst1 = [(x, df.columns[y]) for x, y in zip(*np.where(df.values > 9))]
        lst2 = [(x, df.columns[y]) for x, y in zip(*np.where(df.values < 999))]
        ls_flash = [value for value in lst1 if value in lst2]

    ls_flash_step = [(x, df.columns[y]) for x, y in zip(*np.where(df.values >= 999))]
    result_step = len(ls_flash_step)
    result += result_step
    #print(result_step)
    df = df.applymap(set_zero)

step

418